SPAWN_TIME_MIN=10
SPAWN_TIME_MAX=120
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DISCORD_TOKEN_DEV=
DISCORD_TOKEN=
LOG_LEVEL=debug
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=
SHINY_ODDS_RETAIL=4096
SHINY_ODDS_COMMUNITY=420
TOPGG_KEY=
API_CLIENT_ID=
API_CLIENT_ID_DEV=
INVITE_URL=https://discord.com/oauth2/authorize?client_id=458710213122457600&permissions=1073743936&scope=bot%20applications.commands
DEV=true
SMOKEYBOT_API_TOKEN=
